.flex{
  opacity: 1;
  display: flex;
  flex-direction: row;
  margin:0;

}

.pictures{
  display: flex;
  flex-direction: row;
  width:35%;
  height: 20vh;
  align-items: center;
  position: relative;
  margin-bottom:20px;
}

.diary-card{
  margin:10px;
  padding:10px;
  background-color: rgba(70, 63, 58,.7);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;

}

.card-body{
  padding:5px;
  background-color:#F4F3EE;
  border-radius: 8px;
  color:#463f3a;
}

.diary-edit a{
  color:#CD7D65 !important;
}

.diary-edit{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border-top-style: solid;
  border-bottom-style: solid;
  color:#CD7D65 !important;
  border-top-color: rgba(70, 63, 58, 0.5);
  border-bottom-color: rgba(70, 63, 58, 0.5);
}

button{
  margin-left:15px;
  background-color: #463F3A;
  border:solid;
  color:#FFFFFF;
  font-family: 'Poppins', sans-serif;
}






@media all and (min-width: 600px) {
  
  .intro-picture{
    margin:0;
    height: 1000pv;
    width: 1000pv;
  }

  .pictures{
    display: flex;
    flex-direction: row;
    width:35%;
    height: 40vh;
  }
  
}